extends ../layout

block content
  div(class="span7")
    legend
      h3 Administration
    include ../flashify
    
    each admin_page in admin_pages
      div.span3
        a(href="#{globals.href.admin}#{admin_page.admin_link}")= admin_page.admin_title