if (flash.error != undefined)
  div(class="alert alert-error")
    a.close &times;
    h4.alert-header Error
    each error in flash.error
      li= error
      
if (flash.notice != undefined)
  div(class="alert alert-notice")
    a.close &times;
    h4.alert-header Whoops!
    each notice in flash.notice
      li= notice

if (flash.info != undefined)
  div(class="alert alert-info")
    a.close &times;
    h4.alert-header Whoops!
    each info in flash.info
      li= info
      
if (flash.success != undefined)
  div(class="alert alert-success")
    a.close &times;
    h4.alert-header Success!
    each success in flash.success
      li= success