extends ../layout

block content
  div.span3
    div.well.sidebar-nav
      ul.nav.nav-list
        li
          img(src="http://placehold.it/125x125")
        li
          p Standard User
  div.span5
    legend
      h3= user.alias
        small &nbsp; #{user.displayName}
    
    p Lets display some user information here
  